.aboutbox{
    position: absolute;
    width: 130%;
    height: 110%;
    background: black;
    transform: rotate(-15deg);
    z-index: 1;
}
.aboutletter{
    font-size: 50px;
    background: linear-gradient(30deg,#d7bb05,#fce54b,#d3ba12,#d7bb05,#fce54b,#d3ba12,#d7bb05,#fce54b,#d3ba12,#d7bb05,#fce54b,#d3ba12);
    -webkit-text-fill-color: transparent;
    background-clip:text ;
}
.about-me{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    color: aliceblue;
    width: 60%;
    height: 85vh;
    font-size: 10px;
    background: linear-gradient(30deg,#fcfbfb,#e9e8e8,#d7d6d6,#fcfbfb,#e9e8e8,#d7d6d6,#fcfbfb,#e9e8e8,#d7d6d6,#fcfbfb,#e9e8e8,#d7d6d6);
    -webkit-text-fill-color: transparent;
    background-clip:text ;  
}
@media (max-width:480px){
    .about-me{
        width: 90%;

    }
}